@import "tailwindcss";

@theme inline {
  --font-inter: "Inter", sans-serif;
  --font-merriweather: "Merriweather", serif;

  --color-brand-50: #f1f8f2;
  --color-brand-100: #ddeede;
  --color-brand-200: #bedcc2;
  --color-brand-300: #92c39c;
  --color-brand-400: #5b9b6a;
  --color-brand-500: #428754;
  --color-brand-600: #306b41;
  --color-brand-700: #275536;
  --color-brand-800: #21442c;
  --color-brand-900: #1b3925;
  --color-brand-950: #0f1f15;

  --shadow-brand: 2px 2px 0 var(--color-brand-600);
  --shadow-light: 4px 4px 0 #fff;
  --grid-template-columns-auto: repeat(auto-fit, minmax(200px, 1fr));
  --plant-marker: "🌱";
}

@utility obfuscate {
  direction: rtl;
  unicode-bidi: bidi-override;
  white-space: nowrap;
}

.altcha-checkbox {
  accent-color: var(--color-brand-300);
}
